.content {opacity:0;}
button .content {display:none;}
.preload { 
	z-index: 1;
    width:100px;
    height: 100px;
    position: fixed;
    top: 30%;
    left: 50%;
}

.preload h1{
	margin-left: -0.7em;
	margin-bottom: 1em;
}